<%= form_for(@wordbook) do |f| %>
  <% if @wordbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wordbook.errors.count, "error") %> prohibited this wordbook from being saved:</h2>

      <ul>
      <% @wordbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :日本語（１０文字以内）%><br>
    <%= f.text_field :japanese %>
  </div>
  <div class="field">
    <%= f.label :英語（１０文字以内）%><br>
    <%= f.text_field :english %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
