<p id="notice"><%= notice %></p>

<h1>Listing Wordbooks</h1>

<table>
  <thead>
    <tr>
      <th>Japanese</th>
      <th>English</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wordbooks.each do |wordbook| %>
      <tr>
        <td><%= wordbook.japanese %></td>
        <td><%= wordbook.english %></td>
        <td><%= link_to 'Show', wordbook %></td>
        <td><%= link_to 'Edit', edit_wordbook_path(wordbook) %></td>
        <td><%= link_to 'Destroy', wordbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wordbook', new_wordbook_path %>
