<p id="notice"><%= notice %></p>

<p>
  <strong>日本語:</strong>
  <%= @wordbook.japanese %>
</p>

<p>
  <strong>英語:</strong>
  <%= @wordbook.english %>
</p>

<%= link_to '修正', edit_wordbook_path(@wordbook) %> |
<%= link_to '単語一覧に戻る', wordbooks_path %>
