<p id="notice"><%= notice %></p>

<h1>Listing Jankens</h1>

<table>
  <thead>
    <tr>
      <th>Your hand</th>
      <th>Cpu hand</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jankens.each do |janken| %>
      <tr>
        <td><%= janken.your_hand %></td>
        <td><%= janken.cpu_hand %></td>
        <td><%= janken.result %></td>
        <td><%= link_to 'Show', janken %></td>
        <td><%= link_to 'Edit', edit_janken_path(janken) %></td>
        <td><%= link_to 'Destroy', janken, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Janken', new_janken_path %>
